.content {
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 31px;
}
.content .inner {
  box-sizing: border-box;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  width: 770px;
  overflow: hidden;
  margin: 0 auto;
}
.clear{
  clear:both;
}

/*Login form*/
fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: white;
  border-image: initial;
  padding: 0;
  background-color: white;
}

.input-group{
  border-color:white;
  box-shadow: none;
  box-sizing: border-box;
  border: 0;
  color: #000;
}

/*
rotating globe
 */
#earth {
  width: 100px;
  height: 100px;
  background: url(http://www.noirextreme.com/digital/Earth-Color4096.jpg);
  border-radius: 50%;
  background-size: 210px;
  /*box-shadow: inset 16px 0 40px 6px ,*/
  /*inset -3px 0 6px 2px ;*/
  box-shadow: none;
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  filter:brightness(200%);
}

@keyframes rotate {
  from { background-position-x: 0px; }
  to { background-position-x: 210px; }
}
