<!--<div *ngIf="error"  class="alert alert-danger" >
  {{error}}
</div>

<div class="container">
  <div class="col-sm-4 col-sm-offset-4">
  <div class="center-div">
    <br><br><br>
    <div>
      <div class="text-center">
        <img alt="Tabner" src="https://s3.us-east-2.amazonaws.com/devh2o/TabnerLogo.png"
             style="width:350px;height:150px;">
      </div>
      <br/>
      <div class="form-group">
        <span class="form-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <label for="emailAddress" class="active">Email Address</label>
        <input id="emailAddress" type="text" class="form-control" [(ngModel)]="staffLogin.emailAddress" ngDefaultControl="staffLogin.emailAddress" >
      </div>
      <div class="form-group">
        <span class="form-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <label for="password" class="active">Password</label>
        <input id="password" type="password" class="form-control" [(ngModel)]="staffLogin.password" ngDefaultControl="staffLogin.password" >
      </div>
      <p>
        <input type="checkbox" id="test5" />
        <label for="test5">Remember Me</label>
      </p>
      <div class="text-center">
        <button  class="btn btn-primary" (click)="login()">Login</button>
        <button class="btn btn-primary" [routerLink]="['/forgotpassword']" >Forgot password</button>
        <button class="btn btn-primary" (click)="clear()">Clear</button>
      </div>
    </div>
</div>
  </div>
</div>-->
<!--<div class="x-header">
  <div class="inner">
    <h1>
      <a href="http://www.tabnerglobal.com/" class="logo" accesskey="1">
        <div class="text-center">
          <img src="http://www.tabnerglobal.com/images/ico/fav1.png" style="width:45px;height:50px;padding-top:10px;"/>
        </div>
        <span class="hidden">Tabner Employee Portal</span>
      </a>
    </h1>
  </div>
</div>-->
<div class="bgImage">
  <div class="nav navbar-default navbar-fixed-top" role="navigation" style="height:60px;background: rgba(255,255,255,.5)">
    <li style="text-align: center;padding-bottom: 5px;">
      <!--<img id="logo"  class="img-circle" src="./assets/logoTabner.jpg" style="width:50px;height:50px;"/>-->
      <img id="earth"    style="width:60px;height:60px;"/>
    </li>
  </div>
  <div>
    <br/>
    <br/>
    <br/>
    <div class="content">
      <div class="inner">
        <div id="content-top" class="clear"></div>
        <br/>
        <br/>
        <div class="container">
          <div class="text-center">
            <ul style="width:800px; height:500px;opacity: 0.8">
              <li style="left: 0px; margin: 0px; position: absolute; width: 480px;height:400px;background-color:#F3F3F3;overflow: hidden;" class="">
                <div class="text-center">
                  <br/>
                  <br/>
                  <br/>
                  <img src="https://s3.us-east-2.amazonaws.com/devh2o/TabnerLogo.png" style="width: 350px;height:200px"/>
                </div>
              </li>
              <li style="right: 0px; margin: 0px; position: absolute; overflow: hidden; width: 300px;height:400px;background-color:#3399ff" class="">
                <div >
                  <br/>
                  <br/>
                  <br/>
                  <h4 class="text-center" style="color:white;font-family:'Lucida Sans';"><strong>Welcome to Tabner</strong></h4>
                  <br/>
                  <br/>
                  <div class="col-xs-12">

                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input id="emailAddress" type="text" placeholder="Email Address" class="form-control" [(ngModel)]="staffLogin.emailAddress" ngDefaultControl="staffLogin.emailAddress" >
                      </div>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input id="password" type="password" placeholder="Password" class="form-control" [(ngModel)]="staffLogin.password" ngDefaultControl="staffLogin.password" >
                      </div>
                    <br/>
                    <div class="form-group">
                      <input type="button" class="form-control btn-primary" name="login" value="Login" (click)="login()"/>
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
                  <a [routerLink]="['/forgotpassword']" style="color:white;">Forgot Your Password?</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="text-center">
  <p>Don't have a login? Contact: <a href="mailto:sumita.singh@tabnerglobal.com">
    sumita.singh@tabnerglobal.com </a></p>
  <p style="font-size: x-small">Copyright &copy; 2016 - Designed by TABNER. All Rights Reserved.<p>
</footer>











