<app-header></app-header>
<app-emp-bread-crumbs></app-emp-bread-crumbs>
<app-emp-detailed-view #empDetailedView></app-emp-detailed-view>
<div class="container-fluid">
  <div class="col-xs-6">
    <ul class="nav nav-tabs" id="EachEmployeeEditableDetailsTabs">
      <li class="active"><a data-toggle="tab" href="#education" (click)="onSelectTab('EDU')">Education</a></li>
      <li><a data-toggle="tab" href="#contact" (click)="onSelectTab('CONT')">Contact</a></li>
      <li><a data-toggle="tab" href="#address" (click)="onSelectTab('ADDR')">Address</a></li>
      <li><a data-toggle="tab" href="#vendor">Vendor</a></li>
      <li><a data-toggle="tab" href="#vendor">Projects</a></li>
      <li><a data-toggle="tab">Pay rate</a></li>
      <li><a data-toggle="tab" href="#passport">Passport</a></li>
      <li><a data-toggle="tab">Work Authorization</a></li>
      <li><a data-toggle="tab" href="#benefits" (click)="onSelectTab('BEN')" >Benefits</a></li>
    </ul>
  </div>
</div>

<div *ngIf="isEduSelected">
  <div class="tab-content">
    <div id="education" class="tab-pane fade in active">

      <div class="container-fluid">
        <!--<div class="col-xs-12">-->
          <!--<div class="panel panel-default">-->
            <!--<br>-->
            <!--<div class="panel-body">-->
              <!--<div class="col-xs-3">-->
        <app-emp-edu-dtls [employeeId]="empId"></app-emp-edu-dtls>
               <!---->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>

<div *ngIf="isContSelected">
<div class="tab-content">
  <div id="contact" class="tab-pane fade in active">
    <div class="container-fluid">
      <!--<div class="col-xs-12">-->
        <!--<div class="panel panel-default">-->
          <!--<br>-->
          <!--<div class="panel-body">-->
            <!--<div class="col-xs-3">-->

              <app-emp-cont-dtls [employeeId]="empId"></app-emp-cont-dtls>

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
</div>


<div *ngIf="isAddrSelected">
  <div class="tab-content">
    <div id="address" class="tab-pane fade in active">
      <div class="container-fluid">
        <!--<div class="col-xs-12">-->
        <!--<div class="panel panel-default">-->
        <!--<br>-->
        <!--<div class="panel-body">-->
        <!--<div class="col-xs-3">-->

        <app-emp-addr-dtls  [fullEmpDtls]="empDetailedViewComponent.fullEmpDtls"></app-emp-addr-dtls>

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>


<div *ngIf="isBenefitSelected">
  <div class="tab-content">
    <div id="benefits" class="tab-pane fade in active">
      <div class="container-fluid">
        <!--<div class="col-xs-12">-->
        <!--<div class="panel panel-default">-->
        <!--<br>-->
        <!--<div class="panel-body">-->
        <!--<div class="col-xs-3">-->

        <app-emp-benefits  [employeeId]="empId" ></app-emp-benefits>

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>

<!--<div id="passport" class="tab-pane fade">-->
<!--<div class="container-fluid">-->
<!--<div class="col-xs-12">-->
<!--<div class="panel panel-default">-->
<!--<br>-->
<!--<div class="panel-body">-->
<!--<div class="col-xs-4">-->
<!--<table class="table borderless">-->
<!--<tbody>-->
<!--<tr>-->
<!--<td><strong>Passport:</strong></td>-->
<!--<td><input type="text"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><strong>Passport Issued Date:</strong></td>-->
<!--<td><input type="text"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><strong>Passport End Date:</strong></td>-->
<!--<td><input type="text"/></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--<div class="col-xs-4">-->
<!--<table class="table borderless">-->
<!--<tbody>-->
<!--<tr>-->
<!--<td><strong>I94 Number:</strong></td>-->
<!--<td><input type="text"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><strong>Start Date:</strong></td>-->
<!--<td><input type="text"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><strong>End Date:</strong></td>-->
<!--<td><input type="text"/></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--<div class="col-xs-4">-->
<!--<table class="table borderless">-->
<!--<tbody>-->
<!--<tr>-->
<!--<td><strong>VISA Type:</strong></td>-->
<!--<td><input type="text"/></td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td><strong>Visa Valid Till:</strong></td>-->
<!--<td><input type="text"/></td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<div id="vendor" class="tab-pane fade">-->
<!--<br>-->
<!--<div class="container-fluid">-->
<!--<div class="col-xs-12">-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<strong style="float: left">Current</strong>-->
<!--<br>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<p-dataTable #dt1 sortOrder="-1">-->
<!--<p-column field="venNm" header="Vendor Name" [sortable]="true"></p-column>-->
<!--<p-column field="strtDt" header="Start Date" [sortable]="true"></p-column>-->
<!--<p-column field="endDt" header="End Date" [sortable]="true"></p-column>-->
<!--<p-column field="rate" header="Rate" [sortable]="true"></p-column>-->
<!--<p-column>-->
<!--<template pTemplate type="header">-->
<!--<button class="btn btn-default" style="background-color: lightblue" type="button" pButton-->
<!--label="Attach"></button>-->
<!--</template>-->
<!--</p-column>-->
<!--</p-dataTable>-->
<!--</div>-->
<!--</div>-->
<!--<br>-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<strong style="float: left">Previous</strong>-->
<!--<br>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<p-dataTable #dt1 sortOrder="-1">-->
<!--<p-column field="venNm" header="Vendor Name" [sortable]="true"></p-column>-->
<!--<p-column field="strtDt" header="Start Date" [sortable]="true"></p-column>-->
<!--<p-column field="endDt" header="End Date" [sortable]="true"></p-column>-->
<!--<p-column field="rate" header="Rate" [sortable]="true"></p-column>-->
<!--<p-column field="rate" header="Attachments" [sortable]="true"></p-column>-->
<!--</p-dataTable>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

