<app-header></app-header>
<app-emp-bread-crumbs></app-emp-bread-crumbs>

<div class="container-fluid">
  <div class="col-xs-12">
    <ul class="list-inline">
      <li class="list-inline active" ><a>Education</a></li>|
      <li ><a>Contact</a></li>|
      <li><a>Address</a></li>|
      <li><a>Vendor</a></li>|
      <li ><a>Projects</a></li>|
      <li><a>Pay rate</a></li>|
      <li><a>Passport</a></li>|
      <li ><a>Work Authorization</a></li>|
      <li><a>Benefits</a></li>
    </ul>
  </div>
</div>
