<div class="container-fluid">
  <div>
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{fullEmpDtls.empFirstName +" " + fullEmpDtls.empLastName}}
        </div>
        <div class="panel-body" >
          <div class="container-fluid">
            <div  class="col-xs-3" style="border-right: 1px solid #ccc;">
              <table class="table borderless">
                <thead>More Info</thead>
                <tbody>
                <tr class="hide">
                  <td>Emp Id</td>
                  <td>
                    {{fullEmpDtls.empId}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Designation:</td>
                  <td>{{fullEmpDtls.lcaDesg !=null ?  fullEmpDtls.lcaDesg : fullEmpDtls.empDesg}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Department:</td>
                  <td>{{fullEmpDtls.empDeptName}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Work Authorization:</td>
                  <td></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Primary Skill:</td>
                  <td>{{fullEmpDtls.primarySkill}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Billable:</td>
                  <td><input type="checkbox" disabled [checked]="fullEmpDtls.billable==='YES'"/> Yes
                  <td><input type="checkbox" disabled  [checked]="fullEmpDtls.billable==='NO'"/>No
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-3" style="border-right: 1px solid #ccc;">
              <table class="table borderless">
                <thead>Work Address</thead>
                <tbody>
                <tr>
                  <td style="font-weight: bold;">Address Line1:</td>
                  <td>{{fullEmpDtls.wAddrL1}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Address Line2:</td>
                  <td>{{fullEmpDtls.wAddrL2}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">City:</td>
                  <td>{{fullEmpDtls.wCity}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">State:</td>
                  <td>{{fullEmpDtls.wState}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Zipcode:</td>
                  <td>{{fullEmpDtls.wZipCode}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-3" style="border-right: 1px solid #ccc;">
              <table class="table borderless">
                <thead>Home Address</thead>
                <tr>
                  <td style="font-weight: bold;">Address Line1:</td>
                  <td>
                    {{fullEmpDtls.hEmpAddrL1}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Address Line2:</td>
                  <td>
                    {{fullEmpDtls.hEmpAddrL2}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">City:</td>
                  <td>
                    {{fullEmpDtls.hEmpCity}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">State:</td>
                  <td>
                    {{fullEmpDtls.hEmpState}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">ZipCode:</td>
                  <td>
                    {{fullEmpDtls.hEmpzipCd}}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-xs-3">
              <table class="table borderless">
                <thead>Contact Details</thead>
                <tr>
                  <td style="font-weight: bold;">Phone No:</td>
                  <td>
                    {{fullEmpDtls.empMobilePh}}
                  </td>
                <tr>
                  <td style="font-weight: bold;">Email:</td>
                  <td>
                    {{fullEmpDtls.empWorkEmail }}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Emergency Contact:</td>
                  <td>
                    {{fullEmpDtls.empWorkPh}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<app-emp-addr-dtls hidden="true" [fullEmpDataById]="fullEmpDtls"></app-emp-addr-dtls>-->
