
#login{
  background-color: #f1eded;
  color: blue;
}
nav a.active {
  background-color: darkcyan;
  color:greenyellow;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav {
  height: 5%;
  background-color: #3399ff;
}




