
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/employee']">
        <img class="img-circle" alt="Tabner" src="https://media.glassdoor.com/sqll/712673/tabner-squarelogo-1441891241504.png"
             style="width:35px;height:35px;padding-bottom: 4%">
      </a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav pull-left">
      <li>
        <!--<div class="col-md-5" style="margin-top: 2%; float: right">&ndash;&gt;-->
        <!--<div class="form-group">-->
        <!--<div class="icon-addon addon-lg">-->
        <!--<input #gb class="form-control" type="text" id="allEmployeesSearch" pInputText size="30" style="float:right" placeholder="Search by Name or Keywords"   >-->
        <!--<label for="allEmployeesSearch" class="glyphicon glyphicon-search" rel="tooltip" title="allEmployeesSearch"></label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <!--<form id="demo-2">-->
        <!--<input type="search" placeholder="Search">-->
        <!--</form>-->

        <!--<div class="col-md-4 col-md-offset-3">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="search" class="sr-only">Search</label>
              <input type="text" class="form-control" name="search" id="search" placeholder="search">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>-->

        <!--<li id="demo-2"><input type="search" placeholder="Search"></li>-->
        <!--<li><a [routerLinkActive]="['active']" [routerLink]="['/employees']">Employees</a></li>-->
      <li id="logout"><a (click)="onLogout()" style="cursor:pointer;color: white;"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a></li>
    </ul>

  </div>
</nav>

<!--<br><br><br>-->
<!--<div class="container">-->

<!--<ul class="nav nav-tabs">-->
<!--<li class="active"><a data-toggle="tab" href="#home">Home</a></li>-->
<!--<li><a data-toggle="tab" [routerLink]="['/employees']" >Employees</a></li>-->
<!--<li><a data-toggle="tab" href="#menu2">Menu 2</a></li>-->
<!--<li><a data-toggle="tab" href="#menu3">Menu 3</a></li>-->
<!--</ul>-->

<!--<div class="tab-content">-->
<!--<div id="home" class="tab-pane fade in active">-->
<!--<div id="Employees"  class="tab-pane fade">-->

<!--</div>-->
<!--<div id="menu2" class="tab-pane fade">-->
<!--<h3>Menu 2</h3>-->

<!--asdfasdf-->
<!--</div>-->
<!--<div id="menu3" class="tab-pane fade">-->
<!--<h3>Menu 3</h3>-->
<!--<p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<app-tab-content>

</app-tab-content>
