<!--
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/home']">
        <img class="img-circle" alt="Tabner" src="https://media.glassdoor.com/sqll/712673/tabner-squarelogo-1441891241504.png"
        style="width:35px;height:35px;padding-bottom: 4%">
        </a>
    </div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav pull-right">
      <li><a [routerLinkActive]="['active']" [routerLink]="['/candidates']">Candidates </a></li>
      <li><a href="#">Interviews</a></li>
      <li><a href="#">Terminated/Passive</a></li>
      <li><a href="#">Templates</a></li>
      <li><a [routerLinkActive]="['active']" [routerLink]="['/addstaff']" style="cursor:pointer;">Add Staff</a></li>
      <li id="logout"><a (click)="onLogout()" style="cursor:pointer;">Logout</a></li>
    </ul>

  </div>
</nav>
-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/employee']">
        <img class="img-circle" alt="Tabner" src="https://media.glassdoor.com/sqll/712673/tabner-squarelogo-1441891241504.png"
             style="width:35px;height:35px;padding-bottom: 4%">
      </a>
    </div>

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav pull-right">
      <!--<form id="demo-2">-->
        <!--<input type="search" placeholder="Search">-->
      <!--</form>-->

        <!--<div class="col-md-4 col-md-offset-3">-->
          <!--<form action="" class="search-form">-->
            <!--<div class="form-group has-feedback">-->
              <!--<label for="search" class="sr-only">Search</label>-->
              <!--<input type="text" class="form-control" name="search" id="search" placeholder="search">-->
              <!--<span class="glyphicon glyphicon-search form-control-feedback"></span>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->

      <!--<li id="demo-2"><input type="search" placeholder="Search"></li>-->
      <li><a [routerLinkActive]="['active']" [routerLink]="['/employees']">Employees</a></li>
      <li id="logout"><a (click)="onLogout()" style="cursor:pointer;">Logout</a></li>
    </ul>

  </div>
</nav>

