<app-header></app-header>
<br>
<br>
<br>
<br>
<br>
<h5>Add New Staff</h5>
<div class="col-xs-4 col-xs-offset-4">
  <form [formGroup]="myAddStaffForm" (ngSubmit)="onSubmit()">
      <div formGroupName="addStaffData">
        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input type="email"
                 class="form-control"
                 id="emailAddress"
                 formControlName="emailAddress">
        </div>
        <div class="form-group">
          <label for="firstName">FirstName</label>
          <input type="text"
                 class="form-control"
                 id="firstName"
                 formControlName="firstName">
        </div>
        <div class="form-group">
          <label for="lastName">LastName</label>
          <input type="text"
                 class="form-control"
                 id="lastName"
                 formControlName="lastName">
        </div>
        <div class="form-group">
          <label for="loginPassword">Password</label>
          <input type="password"
                 class="form-control"
                 id="loginPassword"
                 formControlName="loginPassword">
        </div>
        <div class="form-group">
          <label for="role">Role</label>
          <input type="text"
                 class="form-control"
                 id="role"
                 formControlName="role">
        </div>
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="!myAddStaffForm.valid">Sign Up</button>
  </form>
</div>
