/*nav .nav-pills a:active {
  color:black;
  background-color: blue;
}*/

a{
  text-decoration: none !important;
}

a.active{
  font-weight: bold !important;
  color: darkblue !important;

}
.panel-header{
 color:orange;
}
