/*nav .nav-pills a:active {
  color:black;
  background-color: blue;
}*/
#tabcontent a{
  font-size: medium;
}
a{
  text-decoration: none !important;
}

a.active{
  font-weight: bold !important;
  color: darkblue;
  background-color: whitesmoke !important;


}
/*.panel-header{*/
 /*color:orange;*/
/*}*/
