<br><br>
<div class="navbar navbar-default" id="mainTab">
  <div class="container-fluid">
    <br/>
    <ul class="list-inline" id="tabcontent">
      <li role="presentation">
        <a [routerLink]="'/home'"
           routerLinkActive="active fa fa-hand-o-right"
           [routerLinkActiveOptions]="{exact: true}">
          <!--<i class="fa fa-home fa-fw" aria-hidden="true"></i>-->Home
        </a>
      </li>|
      <!-- <li role="presentation">
         <a [routerLink]="''"
            routerLinkActive="active fa fa-hand-o-right"
            [routerLinkActiveOptions]="{exact: true}">
           <strong>Candidates</strong>
         </a>
       </li>|-->
      <li role="presentation">
        <a [routerLink]="'/employees'"
           routerLinkActive="active fa fa-hand-o-right"
           [routerLinkActiveOptions]="{exact: true}">
          Employees
        </a>
      </li>|
      <li role="presentation">
        <a [routerLink]="'/vendors'"
           routerLinkActive="active fa fa-hand-o-right"
           [routerLinkActiveOptions]="{exact: true}">
          Vendors
        </a>
      </li>|
      <li role="presentation">
        <a [routerLink]="'/projects'"
           routerLinkActive="active fa fa-hand-o-right"
           [routerLinkActiveOptions]="{exact: true}">
          Projects
        </a>
      </li>|
      <li role="presentation">
        <a [routerLink]="'/invoices'"
           routerLinkActive="active fa fa-hand-o-right"
           [routerLinkActiveOptions]="{exact: true}">
          Invoices
        </a>
      </li>
    </ul>
  </div>
</div>

