<br><br><br>
<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation">
      <a [routerLink]="'/home'"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-home" aria-hidden="true"></i>Home
      </a>
    </li>
    <li role="presentation">
      <a [routerLink]="''"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        Candidates
      </a>
    </li>
    <li role="presentation">
      <a [routerLink]="'/employees'"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        Employees
      </a>
    </li>
    <li role="presentation">
      <a [routerLink]="'/vendors'"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">
        Vendors
      </a>
    </li>
  </ul>
</div>
