<p-dataTable #dt [value]="employees" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" exportFilename="employees">
  <header>
    <div class="ui-helper-clearfix">
      <button  type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="float:left"></button>
    </div>
  </header>
  <p-column field="canName" header="Candidate Name"></p-column>
  <p-column field="canRef" header="Candidate Reference"></p-column>
  <p-column field="visaSta" header="Visa Status"></p-column>
  <p-column field="primSkill" header="Primary Skill"></p-column>
</p-dataTable>
