<div class="container-fluid">
  <div>
    <div class="col-xs-12">
      <div class="panel panel-default">

        <div class="col-xs-3" style="border-right: 1px solid #ccc;">
          <table class="table borderless">
            <thead>Work Address</thead>
            <tbody>
            <tr>
              <td style="font-weight: bold;">Address Line1:</td>
              <td>{{fullEmpDtls.wAddrL1}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Address Line2:</td>
              <td>{{fullEmpDtls.wAddrL2}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold;">City:</td>
              <td>{{fullEmpDtls.wCity}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold;">State:</td>
              <td>{{fullEmpDtls.wState}}</td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Zipcode:</td>
              <td>{{fullEmpDtls.wZipCode}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-3" style="border-right: 1px solid #ccc;">
          <table class="table borderless">
            <thead>Home Address</thead>
            <tr>
              <td style="font-weight: bold;">Address Line1:</td>
              <td>
                {{fullEmpDtls.hEmpAddrL1}}
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold;">Address Line2:</td>
              <td>
                {{fullEmpDtls.hEmpAddrL2}}
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold;">City:</td>
              <td>
                {{fullEmpDtls.hEmpCity}}
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold;">State:</td>
              <td>
                {{fullEmpDtls.hEmpState}}
              </td>
            </tr>
            <tr>
              <td style="font-weight: bold;">ZipCode:</td>
              <td>
                {{fullEmpDtls.hEmpzipCd}}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>


