<div class="container">

  <div class="center-div">

    <!--<div class="card small">-->
    <!--<div class="card-image waves-effect waves-block waves-light">-->
    <!--<img class="activator" src="http://lorempixel.com/400/200">-->

    <!--</div>-->

    <!--<div class="card-content">-->
    <!--<span class="card-title">Login</span>-->
    <!--<p>Click to reveal</p>-->
    <!--</div>-->
    <br><br><br>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-1">Login<i class="material-icons right">close</i></span>
      <div class="input-field">
        <input id="emailAddress" type="text" class="validate" [(ngModel)]="staffLogin.emailAddress" ngDefaultControl="staffLogin.emailAddress" >
        <label for="emailAddress">Email Address</label>
      </div>
      <div class="input-field">
        <input id="password" type="password" class="validate" [(ngModel)]="staffLogin.password" ngDefaultControl="staffLogin.password" >
        <label for="password">Password</label>
      </div>
      <input name="group1" type="radio" id="test1" />
      <label for="test1">Remember Me</label><br>
      <button  class="waves-effect waves-light btn" (click)="login()">Login</button>
      <button class="waves-effect waves-light btn" (click)="signup()">Forgot password</button>
      <button class="waves-effect waves-light btn" (click)="clear()">Clear</button>
    </div>
  </div>
</div>


username: {{staffLogin.emailAddress}}<br>
password: {{staffLogin.password}}





