.content {
  background-color: #fff;
  padding-bottom: 50px;
  padding-top: 31px;
}
.content .inner {
  box-sizing: border-box;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 5px 5px;
  position: relative;
  width: 770px;
  overflow: hidden;
  margin: 0 auto;
}
.clear{
  clear:both;
}

/*Login form*/
fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: white;
  border-image: initial;
  padding: 0;
  background-color: white;
}

.input-group{
  border-color:white;
  box-shadow: none;
  box-sizing: border-box;
  border: 0;
  color: #000;
}
