<div *ngIf="error"  class="alert alert-danger" >
  {{error}}
</div>

<div class="container">
  <div class="col-sm-4 col-sm-offset-4">
  <div class="center-div">
    <br><br><br>
    <div>
      <div class="text-center">
        <img alt="Tabner" src="https://s3.us-east-2.amazonaws.com/devh2o/TabnerLogo.png"
             style="width:350px;height:150px;">
      </div>
      <br/>
      <div class="form-group">
        <span class="form-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <label for="emailAddress" class="active">Email Address</label>
        <input id="emailAddress" type="text" class="form-control" [(ngModel)]="staffLogin.emailAddress" ngDefaultControl="staffLogin.emailAddress" >
      </div>
      <div class="form-group">
        <span class="form-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <label for="password" class="active">Password</label>
        <input id="password" type="password" class="form-control" [(ngModel)]="staffLogin.password" ngDefaultControl="staffLogin.password" >
      </div>
      <p>
        <input type="checkbox" id="test5" />
        <label for="test5">Remember Me</label>
      </p>
      <div class="text-center">
        <button  class="btn btn-primary" (click)="login()">Login</button>
        <button class="btn btn-primary" [routerLink]="['/forgotpassword']" >Forgot password</button>
        <button class="btn btn-primary" (click)="clear()">Clear</button>
      </div>
    </div>
</div>
  </div>
</div>







