<app-header></app-header>
<br/>
<br/>
<br/>
<div class="container-fluid">
  <ul class="nav nav-pills pull-right">
    <!--<li><a [routerLinkActive]="['active']" [routerLink]="['/candidates/addnewcandidate']"><strong><span class="glyphicon glyphicon-plus"></span>Add new candidate</strong></a></li>-->
    <li ><a [routerLinkActive]="['active']" (click)="onAllEmployeeClicked()" style="cursor: pointer;"><strong>All</strong></a></li>
    <li ><a [routerLinkActive]="['active']" (click)="onAllActiveClicked()" style="cursor: pointer;"><strong>Active</strong></a></li>
    <li ><a [routerLinkActive]="['active']" (click)="onAlLInActiveClicked()" style="cursor: pointer;"><strong>InActive</strong></a></li>
    <!--<li><a href="#"><Strong>Export Details</Strong></a></li>-->
  </ul>
</div>
<!--<router-outlet></router-outlet>-->
<div class="container">
  <div *ngIf="allEmployee">
    <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="float:right;margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search by Name or Keywords">
    </div>
    <p-dataTable #dt [value]="screenCandids" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [(selection)]="selectedCandidate"  (click)="onSelectRow($event)" [globalFilter]="gb" exportFilename="employees">
      <!--<p-dataTable #dt [value]="employees" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" exportFilename="employees">-->

      <p-column field="empId" header="screened candidate Id"  [hidden]="true" [sortable]="true"></p-column>
      <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
      <p-column field="midName" header="Middle Name" [sortable]="true"></p-column>
      <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
      <p-column field="birthDate" header="Birth Date" [sortable]="true"></p-column>
      <p-column field="ssn" header="SSN" [sortable]="true"></p-column>
      <p-column field="hireDate" header="Hire Date" [sortable]="true"></p-column>
      <p-column field="termDate" header="Term Date" [sortable]="true"></p-column>
    </p-dataTable>
  </div>
  <div *ngIf="allActive">
    <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="float:right;margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search by Name or Keywords">
    </div>
    <p-dataTable #dt [value]="screenCandids" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [(selection)]="selectedCandidate"  (click)="onSelectRow($event)" [globalFilter]="gb" exportFilename="employees">
      <!--<p-dataTable #dt [value]="employees" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" exportFilename="employees">-->

      <p-column field="empId" header="screened candidate Id"  [hidden]="true" [sortable]="true"></p-column>
      <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
      <p-column field="midName" header="Middle Name" [sortable]="true"></p-column>
      <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
      <p-column field="birthDate" header="Birth Date" [sortable]="true"></p-column>
      <p-column field="ssn" header="SSN" [sortable]="true"></p-column>
      <p-column field="hireDate" header="Hire Date" [sortable]="true"></p-column>
      <p-column field="termDate" header="Term Date" [sortable]="true"></p-column>
    </p-dataTable>
  </div>
  <div *ngIf="allInActive">
    <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="float:right;margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" style="float:left" placeholder="Search by Name or Keywords">
    </div>
    <p-dataTable #dt [value]="screenCandids" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [(selection)]="selectedCandidate"  (click)="onSelectRow($event)" [globalFilter]="gb" exportFilename="employees">
      <!--<p-dataTable #dt [value]="employees" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" exportFilename="employees">-->

      <p-column field="empId" header="screened candidate Id"  [hidden]="true" [sortable]="true"></p-column>
      <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
      <p-column field="midName" header="Middle Name" [sortable]="true"></p-column>
      <p-column field="lastName" header="Last Name" [sortable]="true"></p-column>
      <p-column field="birthDate" header="Birth Date" [sortable]="true"></p-column>
      <p-column field="ssn" header="SSN" [sortable]="true"></p-column>
      <p-column field="hireDate" header="Hire Date" [sortable]="true"></p-column>
      <p-column field="termDate" header="Term Date" [sortable]="true"></p-column>
    </p-dataTable>
  </div>
</div>

