<div class="nav navbar-default navbar-fixed-top" role="navigation" style="background-color:#3399ff;height:60px;">
  <li style="text-align: center;padding-bottom: 5px;">
    <img src="/tep/static/js/assets/globe.gif"   style="width:50px;height:50px;"/>
  </li>
</div>
<br/>
<br/>
<br/>
<div class="container">
<div *ngIf="!resetpasswordClicked">
  <div class="center-div">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <p>please wait while we are redirecting to your profile page</p>
  </div>
</div>
</div>

<br/>
<br/>
<div class="container">
  <div *ngIf="resetpasswordClicked">
    <div *ngIf="!tokenExpired">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="text-center">
          <br>
          <div>
            <h4><i class="fa fa-key" aria-hidden="true"></i></h4>
            <h4>Reset your Password Here!</h4><br><br/>
            <fieldset>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                  <input readonly id="emailAddress" type="text" class="form-control" [(ngModel)]="resetPassword.emailAddress"
                         ngDefaultControl="resetPassword.emailAddress" placeholder="Email Address">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock " aria-hidden="true"></i></span>
                  <input id="newPassword" type="password" class="form-control" [(ngModel)]="resetPassword.newPassword" placeholder="New Password"
                         ngDefaultControl="resetPassword.newPassword">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock " aria-hidden="true"></i></span>
                  <input id="confirmNewPassword" type="password" class="form-control"
                         [(ngModel)]="resetPassword.confirmNewPassword" placeholder="Confirm New Password"
                         ngDefaultControl="resetPassword.confirmNewPassword" (keyup.enter)="onSubmit()">
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="onSubmit()">Submit</button>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div *ngIf="tokenExpired">
token expired

  </div>


</div>
