<app-candidates></app-candidates>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="center-div">
        <h6>Basic Info</h6>
        <br>
          <div class="form-group hide">
            <label for="candId">Candidate ID</label>
            <input id="candId" type="number" class="form-control" [(ngModel)]="addNewCandidate.candId"
                   ngDefaultControl="addNewCandidate.candId">
          </div>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" class="form-control" [(ngModel)]="addNewCandidateScreening.firstName"
                   ngDefaultControl="addNewCandidateScreening.firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" class="form-control" [(ngModel)]="addNewCandidateScreening.lastName"
                   ngDefaultControl="addNewCandidateScreening.lastName">
          </div>
          <div class="form-group">
            <label for="emailId">Email-ID</label>
            <input id="emailId" type="email" class="form-control"
                   [(ngModel)]="addNewCandidate.emailId"
                   ngDefaultControl="addNewCandidate.emailId">
          </div>
          <div class="form-group">
            <label for="phoneNo">Phone</label>
            <input id="phoneNo" type="tel" class="form-control"
                   [(ngModel)]="addNewCandidate.phoneNo"
                   ngDefaultControl="addNewCandidate.phoneNo">
          </div>
          <div class="form-group">
            <label for="source">Source</label>
            <input id="source" type="text" class="form-control"
                   [(ngModel)]="addNewCandidate.source"
                   ngDefaultControl="addNewCandidate.source">
          </div>
          <h6>Professional Details</h6>
          <br>
          <div class="form-group">
            <label for="visaSta">Visa Status</label>
            <select id="visaSta" class="form-control"
                   [(ngModel)]="addNewCandidateScreening.visaStatus"
                   ngDefaultControl="addNewCandidateScreening.visaStatus">
            <option value="">--Select One--</option>
            <option value="h1b">H1B</option>
            <option value="l1">L1</option>
            <option value="L2">L2 EAD</option>
            <option value="EAD">EAD GC</option>
            <option value="CITIZENS">CITIZENS</option>
            </select>
          </div>
          <div class="form-group">
            <label for="expInYears">Experience in years</label>
            <input type="number" id="expInYears" class="form-control"
                   [(ngModel)]="addNewCandidate.expInYears" ngDefaultControl="addNewCandidate.expInYears">
          </div>
          <div class="form-group">
          <label for="primSkill">Primary Skill</label>
          <input type="text" id="primSkill" class="form-control"
                 [(ngModel)]="addNewCandidateScreening.primSkill" ngDefaultControl="addNewCandidateScreening.primSkill">
          </div>
          <div class="form-group">
          <label for="currentJobTitle">Current Job Title</label>
          <input type="text" id="currentJobTitle" class="form-control"
                 [(ngModel)]="addNewCandidate.currentJobTitle" ngDefaultControl="addNewCandidate.currentJobTitle">
          </div>
          <div class="form-group">
          <label for="curEmplyr">Current Employer</label>
          <input type="text" id="curEmplyr" class="form-control"
                 [(ngModel)]="addNewCandidateScreening.curEmplyr" ngDefaultControl="addNewCandidateScreening.curEmplyr">
          </div>
          <div class="form-group">
          <label for="techSkillSets">Tech Skills</label>
          <input type="text" id="techSkillSets" class="form-control"
                 [(ngModel)]="addNewCandidate.techSkillSets" ngDefaultControl="addNewCandidate.techSkillSets">
          </div>
          <div class="form-group">
          <label for="expectedSal">Expected Salary</label>
          <input type="number" id="expectedSal" class="form-control"
                 [(ngModel)]="addNewCandidate.expectedSal" ngDefaultControl="addNewCandidate.expectedSal">
          </div>
          <div class="form-group">
          <label for="highQualifHeld">Highest Qualification Held</label>
          <input type="text" id="highQualifHeld" class="form-control"
                 [(ngModel)]="addNewCandidate.highQualifHeld" ngDefaultControl="addNewCandidate.highQualifHeld">
          </div>
          <div class="form-group">
          <label for="additional_Info">Additional Info</label>
          <textarea id="additional_Info" class="form-control"
                 [(ngModel)]="addNewCandidate.additional_Info" ngDefaultControl="addNewCandidate.additional_Info">
          </textarea>
          </div>
          <div class="form-group">
          <label for="currentSal">Current Salary</label>
          <input type="number" id="currentSal" class="form-control"
                    [(ngModel)]="addNewCandidate.currentSal" ngDefaultControl="addNewCandidate.currentSal">
          </div>
          <div class="form-group">
          <label for="note">Note</label>
          <textarea id="note" class="form-control"
                    [(ngModel)]="addNewCandidate.note" ngDefaultControl="addNewCandidate.note">
          </textarea>
          </div>
          <div class="form-group">
            <input name="candidateStatus" class="radio-inline" id="candidateStatushired" type="radio" value="hired"
                   [(ngModel)]="addNewCandidate.candidateStatus" ngDefaultControl="addNewCandidate.candidateStatus"/>
            <label for="candidateStatushired">Hired</label>
            <input name="candidateStatus" class="radio-inline" id="candidateStatushold" type="radio" value="hold"
                   [(ngModel)]="addNewCandidate.candidateStatus" ngDefaultControl="addNewCandidate.candidateStatus"/>
            <label for="candidateStatushold">Hold</label>
          </div>
          <button class="waves-effect waves-light btn" (click)="onSubmit()">Save</button>
        </div>
      </div>
</div>
