<app-header></app-header>
   <br/>
   <br/>
   <br/>
<div class="container-fluid">
  <ul class="nav nav-pills pull-right">
    <li><a [routerLinkActive]="['active']" [routerLink]="['/candidates/addnewcandidate']"><strong><span class="glyphicon glyphicon-plus"></span>Add new candidate</strong></a></li>
    <li><a [routerLinkActive]="['active']" [routerLink]="['/candidates/screening']"><strong>Screening</strong></a></li>
    <li><a href="#"><Strong>Export Details</Strong></a></li>
  </ul>
  <ul class="nav nav-pills pull-left">
    <li>
      <p-dropdown [options]="candidateTableTypes" [(ngModel)]="selectedTableType" [filter]="filter">
      </p-dropdown>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
