<app-header></app-header>
   <br/>
   <br/>
   <br/>
<div class="container-fluid">
  <ul class="nav nav-pills pull-right">
    <!--<li><a [routerLinkActive]="['active']" [routerLink]="['/candidates/addnewcandidate']"><strong><span class="glyphicon glyphicon-plus"></span>Add new candidate</strong></a></li>-->
    <li><a [routerLinkActive]="['active']" [routerLink]="['/candidates/screening']"><strong>Screening</strong></a></li>
    <!--<li><a href="#"><Strong>Export Details</Strong></a></li>-->
  </ul>
  <ul class="nav nav-pills pull-left">
    <!--<li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">All Open Candidates</a></li>
        <li><a href="#">Screened Candidates</a></li>
        <li><a href="#">Hot Candidates</a></li>
      </ul>
    </li>-->
    <ng-select
      [options]="options"  placeholder="Screened Candidates">
    </ng-select>
  </ul>
</div>
<router-outlet></router-outlet>
