<app-candidates></app-candidates>

<!--
<div class="container">
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="First" type="text" class="validate">
        <label for="First">First Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="Telephone" type="tel" class="validate">
        <label for="Telephone">Telephone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">First Name</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
      </div>
    </div>

  </form>
</div>
</div>
-->

<div class="col-xs-4 col-xs-offset-4">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div formGroupName="candidateData">
      <div class="form-group">
        <label for="candidateName">Candidate Name</label>
        <input type="text"
               class="form-control"
               id="candidateName"
               formControlName="candidateName">
      </div>
      <div class="form-group">
        <label for="candidateReference">Candidate Reference</label>
        <input type="text"
               class="form-control"
               id="candidateReference"
               formControlName="candidateReference">
      </div>
      <div class="form-group">
        <label for="visaStatus">Visa Status</label>
        <select class="form-control"
                id="visaStatus"
                formControlName="visaStatus">
          <option value="">--Select One--</option>
          <option value="h1b">H1B</option>
          <option value="l1">L1</option>
          <option value="OPT">OPT</option>
          <option value="L2">L2 EAD</option>
          <option value="EAD">EAD </option>
          <option value="GC">GC </option>
          <option value="CITIZENS">CITIZENS</option>
        </select>
      </div>
      <div class="form-group">
              <label for="visaValidity">Visa Validity</label>
              <input type="date"
                     class="form-control"
                     id="visaValidity"
                     formControlName="visaValidity">
              <input type="checkbox" class="form-control" id="visaValidityNotApplicable" formControlName="visaValidityNotApplicable" name="visaValidityNotApplicable"/>
              <label for="visaValidityNotApplicable">Not Applicable</label>
      </div>


<div class="form-group">
        <label for="h1Window">Time left on H1 window</label>
        <input type="text"
               class="form-control"
               id="h1Window"
               formControlName="h1Window">
      </div>

      we need to change it to date format
      <div class="form-group">
        <label for="currentEmployer">Current Employer</label>
        <input type="text"
               class="form-control"
               id="currentEmployer"
               formControlName="currentEmployer">
      </div>
      <div class="form-group">
        <label for="primarySill">Primary Skill</label>
        <input type="text"
               class="form-control"
               id="primarySill"
               formControlName="primarySill">
      </div>
      <div class="form-group">
        <label for="skillSet">Skill Set</label>
        <input type="text"
               class="form-control"
               id="skillSet"
               formControlName="skillSet">
      </div>
      <div class="form-group">
        <label for="totalExperience">Total Experience</label>
        <input type="number"
               class="form-control"
               id="totalExperience"
               formControlName="totalExperience">
      </div>
      <div class="form-group">
        <label for="currentCompensation">Current Compensation</label>
        <input type="number"
               class="form-control"
               id="currentCompensation"
               formControlName="currentCompensation">
      </div>
      <div class="form-group">
        <label for="expectedCompensation">Expected Compensation</label>
        <input type="number"
               class="form-control"
               id="expectedCompensation"
               formControlName="expectedCompensation">
      </div>
      <div class="form-group">
        <label for="agreedCompensation">Agreed Compensation</label>
        <input type="number"
               class="form-control"
               id="agreedCompensation"
               formControlName="agreedCompensation">
      </div>
      <div class="form-group">
        <label for="costToCompany">Cost to Company</label>
        <input type="number"
               class="form-control"
               id="costToCompany"
               formControlName="costToCompany">
      </div>
      <div class="form-group">
        <label for="currentLocation">Current Location</label>
        <input type="text"
               class="form-control"
               id="currentLocation"
               formControlName="currentLocation">
      </div>
      <div class="form-group">
        <label for="relocation">ReLocation</label>
        <input type="text"
               class="form-control"
               id="relocation"
               formControlName="relocation">
      </div>
      <div class="form-group">
        <label for="noticePeriod">Notice Period</label>
        <input type="number"
               class="form-control"
               id="noticePeriod"
               formControlName="noticePeriod">
      </div>
      <div class="form-group">
        <label for="h1ReceiptNumber">H1 Receipt Number</label>
        <input type="text"
               class="form-control"
               id="h1ReceiptNumber"
               formControlName="h1ReceiptNumber">
      </div>
      <div class="form-group">
        <label for="communicationSkills">Communication Skills</label>
        <input type="text"
               class="form-control"
               id="communicationSkills"
               formControlName="communicationSkills">
      </div>

      <!--<div class="form-group">-->
        <!--<label for="files">Upload Supporting Files</label>-->
        <!--<input type="file"-->
               <!--id="files"-->
               <!--formControlName="files"-->
               <!--multiple/>-->
      <!--</div>-->

      <div class="form-group">
        <label for="comments">Comments</label>
        <textarea
          class="form-control"
          id="comments"
          formControlName="comments"
          placeholder="Enter your comments here">
        </textarea>
      </div>
      <div class="form-group">
        <label>Selection Status</label>
        <br/>
        <input name="selectionStatus" class="radio-inline" id="selectionStatusSelected" type="radio" value="selected" formControlName="selectionStatus"/>
        <label for="selectionStatusSelected">Selected</label>
        <input name="selectionStatus" class="radio-inline" id="selectionStatusRejected" type="radio" formControlName="selectionStatus" value="rejected" />
        <label for="selectionStatusRejected">Rejected</label>
        <input name="selectionStatus" class="radio-inline" type="radio" id="selectionStatusHold" formControlName="selectionStatus" value="onhold"/>
        <label for="selectionStatusHold">On Hold</label>
      </div>


    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
  </form>
</div>



