li{
  cursor:pointer;
}
li.active {
  font-weight: bold;
  /*background-color: white;*/
}
#pillTabSowInvoice>li>a{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 1px;
  padding-right:1px;
  color:blue;
  background-color:white;
  border-bottom:none !important;
  font-family: Century Gothic;
  font-size: 12px;
}
#pillTabSowInvoice .nav-pills > li.active > a{
  color:black !important;
}
#pillTab >li>a{
  padding-top: 3px;
  padding-bottom: 3px;
  color:blue;
  background-color:lightgrey;
}

#pillTab> li.active > a{
  color:white;
  background-color: #3399ff;
}
