<app-header></app-header>
<div class="container-fluid">
  <div>
    <div class="col-xs-5 col-xs-offset-2">
      <ul class="list-inline">
        <li class="list-inline active" (click)="loadProjectsData()"><a><span
          style="color: black;font-size:12px;font-family: 'Century Gothic'">Projects</span></a></li>
        |
        <li (click)="loadSowData()"><a><span
          style="color: black;font-size:12px;font-family: 'Century Gothic'">SOW</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div *ngIf="isProjectsTab">
    <p-dataTable #dt1 [value]="allProjects" reorderableColumns="true" [rows]="10"
                 [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                 [globalFilter]="gb" exportFilename="projects" >
      <header style="background: #3399ff !important;">
        <div class="ui-helper-clearfix">
          <div style="float: left">
            <h6><strong>&nbsp;&nbsp;Projects</strong></h6>
          </div>
          <span
            style="border:1px solid white;background-color: white;color: black;float: right;margin: 10px 3px 0px 3px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%"
            (click)="dt1.exportCSV()">Export</span>
          <div class="col-md-3 col-md-offset-3" style=" float: right">
            <form class="search-form">
              <div class="form-group has-feedback">
                <input #gb type="text" class="form-control" name="search"
                       style="float:right;font-size: 10pt;font-family: Calibri;"
                       placeholder="Search by Name or Keywords"/>
                <span style="padding-top: 3px;" class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
          </div>
        </div>
      </header>
      <p-column field="clientName"  header="Project Name" [sortable]="true"></p-column>
      <p-column field="clientId" [hidden]="true" header="Client ID" [sortable]="true"></p-column>
      <p-column field="rate" header="Rate" [sortable]="true">
        <template let-col let-allProject="rowData" pTemplate type="body">
          <span>{{allProject[col.field] | currency:'USD':true }}</span>
        </template>
      </p-column>
      <p-column field="vendorName" header="Client Name" [sortable]="true"></p-column>
      <p-column field="venId" [hidden]="true" header="Vendor Id" [sortable]="true"></p-column>
      <p-column field="empId" [hidden]="true" header="Employee Id" [sortable]="true"></p-column>
      <p-column field="empName" header="Employeee Name" [sortable]="true"></p-column>
      <p-column field="startDate" header="Start Date" [sortable]="true">
        <template let-col let-allProject="rowData" pTemplate type="body">
          <span>{{allProject[col.field] | date:'shortDate' }}</span>
        </template>
      </p-column>
      <p-column field="endDate" header="End Date" [sortable]="true">
        <template let-col let-allProject="rowData" pTemplate type="body">
          <span>{{allProject[col.field] | date:'shortDate' }}</span>
        </template>
      </p-column>
    </p-dataTable>
    <br>
  </div>

  <div *ngIf="isSowTab">
    <p-dataTable #dt1 [value]="allSows" reorderableColumns="true" [rows]="10"
                 [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                 [globalFilter]="gb" exportFilename="projects"
                 (onRowSelect)="onRowSelect(selectedSowRow)" [(selection)]="selectedSowRow"
                 selectionMode="single">
      <header style="background: #3399ff !important;">
        <div class="ui-helper-clearfix">
          <div style="float: left">
            <h6><strong>&nbsp;&nbsp;Statement of Work</strong></h6>
          </div>
          <span
            style="border:1px solid white;background-color: white;color: black;float: right;margin: 10px 3px 0px 3px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%"
            (click)="dt1.exportCSV()">Export</span>
          <div class="col-md-3 col-md-offset-3" style=" float: right">
            <form class="search-form">
              <div class="form-group has-feedback">
                <input #gb type="text" class="form-control" name="search"
                       style="float:right;font-size: 10pt;font-family: Calibri;"
                       placeholder="Search by Name or Keywords"/>
                <span style="padding-top: 3px;" class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
          </div>
        </div>
      </header>

      <p-column field="sowId" hidden="true" header="Sow Id" [sortable]="true" [style]="{'width':'60px'}"></p-column>
      <p-column field="venName" header="Client Name" [sortable]="true" [style]="{'width':'100px'}"></p-column>

      <p-column field="venId" hidden="true" header="Vendor Id" [sortable]="true" [style]="{'width':'100px'}"></p-column>
      <p-column field="sowNum" header="Sow Number" [sortable]="true" [style]="{'width':'100px'}"></p-column>
      <p-column field="grantedAmt" header="Granted Amount" [style]="{'width':'100px'}" [sortable]="true">
        <template let-col let-allSow="rowData" pTemplate type="body">
          <span>{{allSow[col.field] | currency:'USD':true }}</span>
        </template>
      </p-column>
      <p-column field="billedAmt" header="Billed Amount" [sortable]="true" [style]="{'width':'100px'}">
        <template let-col let-allSow="rowData" pTemplate type="body">
          <span>{{allSow[col.field] | currency:'USD':true }}</span>
        </template>
      </p-column>
      <p-column field="remngAmt" header="Remaining Amount" [sortable]="true" [style]="{'width':'150px'}">
        <template let-col let-allSow="rowData" pTemplate type="body">
          <span>{{allSow[col.field] | currency:'USD':true }}</span>
        </template>
      </p-column>
      <p-column field="duration" header="Duration(weeks)" [sortable]="true" [style]="{'width':'150px'}"></p-column>
      <p-column field="startDate" header="Start Date" [sortable]="true" [style]="{'width':'80px'}">
        <template let-col let-allSow="rowData" pTemplate type="body">
          <span>{{allSow[col.field] | date:'shortDate' }}</span>
        </template>
      </p-column>
      <p-column field="endDate" header="End Date" [sortable]="true" [style]="{'width':'80px'}">
        <template let-col let-allSow="rowData" pTemplate type="body">
          <span>{{allSow[col.field] | date:'shortDate' }}</span>
        </template>
      </p-column>
    </p-dataTable>
    <br>
    <div>
      <ul id="pillTab" class="nav nav-tabs">
        <li class="active" data-toggle="tab"><a>Invoices</a></li>
      </ul>
    </div>
    <ul id="pillTabSowInvoice" class="nav nav-pills">
      <li data-toggle="pill" (click)="loadFilteredData('ALL')"><a>All|</a></li>
      <li id="openClickTrigger" class="active" data-toggle="pill" (click)="loadFilteredData('OPEN')"><a>Open|</a></li>
      <li data-toggle="pill" (click)="loadFilteredData('CLOSE')"><a>Closed</a></li>
    </ul>
    <div class="panel panel-default">
      <header>
        <div class="ui-helper-clearfix">
          <strong style="float: left;color: blue; margin-right: 10px;">Client Name:{{viewSOWDetails.vendorName}} &nbsp;&nbsp;</strong>
          <span style="float:left;color: blue;"><strong>SOW #:</strong>{{viewSOWDetails.sowNum}}</span>
          <span style="float: right;color: blue;"><strong>Total Invoice Amount:</strong>{{tableInvAmt | currency:USD:true}}</span>
        </div>
      </header>

      <div class="panel-body">
        <p-dataTable #dt1 [rows]="5"
                     [paginator]="true" [value]="filteredInvoices" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                      reorderableColumns="true">
          <p-column field="invNum" header="Invoice Number" [sortable]="true"></p-column>
          <p-column field="invStDt" header="Start Date" [sortable]="true">
            <template let-col let-filteredInvoice="rowData" pTemplate type="body">
              <span>{{filteredInvoice[col.field] | date:'shortDate' }}</span>
            </template>
          </p-column>
          <p-column field="invEndDt" header="End Date" [sortable]="true">
            <template let-col let-filteredInvoice="rowData" pTemplate type="body">
              <span>{{filteredInvoice[col.field] | date:'shortDate' }}</span>
            </template>
          </p-column>
          <p-column field="dueDt" header="Due Date" [sortable]="true">
            <template let-col let-filteredInvoice="rowData" pTemplate type="body">
              <span>{{filteredInvoice[col.field] | date:'shortDate' }}</span>
            </template>
          </p-column>
          <p-column field="wrkHrs" header="Hours" [sortable]="true"></p-column>
          <p-column field="invAmt" header="Invoice Amount" [sortable]="true">
            <template let-col let-filteredInvoice="rowData" pTemplate type="body">
              <span>{{filteredInvoice[col.field] | currency:'USD':true }}</span>
            </template>
          </p-column>
          <p-column field="invStatus" header="Invoice Status" [sortable]="true"></p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
