<app-header></app-header>
<div class="container-fluid">
  <div>
    <div class="col-xs-5 col-xs-offset-2">
      <ul class="list-inline">
        <li class="list-inline active" (click)="loadProjectsData()"><a><span
          style="color: black;font-size:12px;font-family: 'Century Gothic'">Projects</span></a></li>
        |
        <li (click)="loadSowData()"><a><span
          style="color: black;font-size:12px;font-family: 'Century Gothic'">SOW</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div *ngIf="isProjectsTab">
    <p-dataTable #dt1 [value]="allProjectsData" [rows]="5"
                 [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                 [globalFilter]="gb" exportFilename="projects" reorderableColumns="true">
      <header style="background: #3399ff !important;">
        <div class="ui-helper-clearfix">
          <div style="float: left">
            <h6><strong>&nbsp;&nbsp;Projects</strong></h6>
          </div>
          <span
            style="border:1px solid white;background-color: white;color: black;float: right;margin: 10px 3px 0px 3px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%"
            (click)="dt1.exportCSV()">Export</span>
          <div class="col-md-3 col-md-offset-3" style=" float: right">
            <form class="search-form">
              <div class="form-group has-feedback">
                <input #gb type="text" class="form-control" name="search"
                       style="float:right;font-size: 10pt;font-family: Calibri;"
                       placeholder="Search by Name or Keywords"/>
                <span style="padding-top: 3px;" class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
          </div>
        </div>
      </header>
      <p-column field="clientName"  header="Project Name" [sortable]="true"></p-column>
      <p-column field="clientId" [hidden]="true" header="Client ID" [sortable]="true"></p-column>
      <p-column field="startDate" header="Start Date" [sortable]="true"></p-column>
      <p-column field="rate" header="Rate" [sortable]="true"></p-column>
      <p-column field="vendorName" header="Vendor Name" [sortable]="true"></p-column>
      <p-column field="venId" [hidden]="true" header="Vendor Id" [sortable]="true"></p-column>
      <p-column field="empId" [hidden]="true" header="Employee Id" [sortable]="true"></p-column>
      <p-column field="empName" header="Employeee Name" [sortable]="true"></p-column>
      <p-column field="endDate" header="End Date" [sortable]="true"></p-column>
    </p-dataTable>
    <br>
  </div>




   <!--TO SHOW     SOW TAB  TABLE -->

  <div *ngIf="isSowTab">
    <p-dataTable #dt1 [value]="allSowData" [rows]="5"
                 [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                 [globalFilter]="gb" exportFilename="projects" reorderableColumns="true"
                 (onRowSelect)="onRowSelect($event)" [(selection)]="selectedSowInvoice"
                 selectionMode="single">
      <header style="background: #3399ff !important;">
        <div class="ui-helper-clearfix">
          <div style="float: left">
            <h6><strong>&nbsp;&nbsp;Statement of Work</strong></h6>
          </div>
          <span
            style="border:1px solid white;background-color: white;color: black;float: right;margin: 10px 3px 0px 3px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%"
            (click)="dt1.exportCSV()">Export</span>
          <div class="col-md-3 col-md-offset-3" style=" float: right">
            <form class="search-form">
              <div class="form-group has-feedback">
                <input #gb type="text" class="form-control" name="search"
                       style="float:right;font-size: 10pt;font-family: Calibri;"
                       placeholder="Search by Name or Keywords"/>
                <span style="padding-top: 3px;" class="glyphicon glyphicon-search form-control-feedback"></span>
              </div>
            </form>
          </div>
        </div>
      </header>

      <p-column field="sowId" header="Sow Id" [sortable]="true"></p-column>
      <p-column field="clientName" header="Client Name" [sortable]="true"></p-column>
      <p-column field="clientId" hidden="true" header="Client Id" [sortable]="true"></p-column>
      <p-column field="sowNum" header="Sow Number" [sortable]="true"></p-column>
      <p-column field="grantedAmt" header="Granted Amount" [sortable]="true"></p-column>
      <p-column field="billedAmt" header="Billed Amount" [sortable]="true"></p-column>
      <p-column field="remngAmt" header="Remaining Amount" [sortable]="true"></p-column>

      <p-column field="duration" header="Duration" [sortable]="true"></p-column>
      <p-column field="startDate" header="Start Date" [sortable]="true"></p-column>
      <p-column field="endDate" header="End Date" [sortable]="true"></p-column>
    </p-dataTable>
    <br>

    <!--TO SHOW     SOW TAB  CHILD TABS     ALL  |   OPEN  |  CLOSED  -->
    <div>
      <ul id="pillTab" class="nav nav-tabs">
        <li class="active" data-toggle="tab"><a>Invoices</a></li>
      </ul>
    </div>
    <ul id="pillTabSowInvoice" class="nav nav-pills">
      <li data-toggle="pill" (click)="OnClickSowInvoiceTabs()"><a>All|</a></li>
      <li class="active" data-toggle="pill" (click)="OnClickSowInvoiceTabs()"><a>Open|</a></li>
      <li data-toggle="pill" (click)="OnClickSowInvoiceTabs()"><a>Closed</a></li>
    </ul>
    <div class="panel panel-default">
      <header>
        <div class="ui-helper-clearfix">
          <strong style="float: left;color: blue;">Client Name:{{viewSOWDetails.clientName}} &nbsp;&nbsp;</strong>
          <span style="float: left;color: blue;">SOW #:{{viewSOWDetails.sowNum}}</span>
          <span style="float: right;color: blue;font-weight:bold;">Total Invoice Amount:{{8000 | currency:'USD':true}}</span>
        </div>
      </header>
      <div class="panel-body">
        <p-dataTable #dt1 [rows]="5"
                     [paginator]="true" [value]="allSOWInvoices" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]"
                      reorderableColumns="true" >
          <p-column field="invNum" header="Invoice Number" [sortable]="true"></p-column>
          <p-column field="invStDt" header="Start Date" [sortable]="true"></p-column>
          <p-column field="invEndDt" header="End Date" [sortable]="true"></p-column>
          <p-column field="dueDt" header="Due Date" [sortable]="true"></p-column>
          <p-column field="wrkHrs" header="Hours" [sortable]="true"></p-column>
          <p-column field="invAmt" header="Invoice Amount" [sortable]="true"></p-column>
          <p-column field="invStatus" header="Invoice Status" [sortable]="true"></p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
