
<p-dataTable [value]="getContactData"  [(selection)]="selectedContact"  [paginator]="true" rows="5" [responsive]="true" >
  <header>Employee Contact Information</header>
  <p-column hidden="true" field="empId" header="Employee Id"  [sortable]="true"></p-column>
  <p-column field="homeEmail" header="Home EmailAddress"  [sortable]="true"></p-column>
  <p-column field="homePhone" header="Home Phone"  [sortable]="true"></p-column>
  <p-column field="mobilePhone" header="Mobile Number"  [sortable]="true"></p-column>
  <p-column field="workEmail" header="Work Email "  [sortable]="true"></p-column>
  <p-column field="workPhone" header="Work Phone "  [sortable]="true"></p-column>
  <p-column field="emergCntName" header="Emergency Contact Name "  [sortable]="true"></p-column>
  <p-column field="emergCntNum1" header="Emergency Contact Num1 "  [sortable]="true"></p-column>
  <p-column field="emergCntNum2" header="Emergency Contact Num2 "  [sortable]="true"></p-column>

  <!--<footer><div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div></footer>-->
</p-dataTable>



