/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/primeng/resources/themes/omega/theme.css');
@import url('../node_modules/primeng/resources/primeng.min.css');
body{
  background-color: white;
  font-family:Calibri;
}
#logo{
  -webkit-animation:spinHorizontal 800ms linear infinite;
  -moz-animation:spinHorizontal 800ms linear infinite;
  animation:spinHorizontal 800ms linear infinite;
}
#mainTab{
  height:20px;
 background-color: #ebedf0;
  margin-bottom:1px;
}
@-moz-keyframes spinHorizontal { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinHorizontal { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinHorizontal { 100% { -webkit-transform: rotateX(360deg); transform:rotateY(360deg); } }


div.ui-datatable td {
  padding: 2px !important;
  text-align: center !important;
  font-size: 0.9em;
  font-family: calibri;
}
div.ui-widget{
  font-family: "Calibri";
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
  background-color: #fffc7f;
  color:blue;
}
.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default{
  border: none;
  color: black;
  background: whitesmoke;
}
.ui-button, .ui-button span, button.ui-button.ui-state-default span, .ui-button.ui-state-default span {
  font-weight: lighter;
}
.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-caption, .ui-datatable .ui-datatable-footer{
  padding-top:0px;
  padding-bottom: 0px !important;
  padding-right:0px;
  padding-left:0px;
}
div.ui-datatable thead th, .ui-datatable tfoot td, .ui-datatable tbody td {
  border-color: skyblue;
}
div.ui-paginator-bottom .ui-paginator .ui-widget-header{
  background: #cccccc;
}

.ui-paginator .ui-paginator-page.ui-state-active {
  background: #3399ff;
  color: #ffffff;
  border-color: #3399ff;
}
.ui-datatable .ui-state-hover{
  cursor:pointer;
}

.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options {
  float: right;
  margin-top: 0.5em;
}
.ui-paginator{
  padding:0px !important;
}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th{
  padding: 0px !important;
}
.ui-datatable th.ui-state-active{
  background-color: darkgray;
}

.ui-datatable .ui-selection-column .ui-chkbox-box, .ui-datatable .ui-selection-column .ui-radiobutton-box{
  margin:0 30px;
}
.panel .panel-heading{
  padding: 3px;
  color:blue;
  font-weight: bold;
}
.panel .panel-body{
  padding:0px;
}
.form-group{
  margin-top: 1px;
  margin-bottom: 2px;
}
/*------------->>>>> search button<<<-------*/

.search-form .form-group {
  float: right;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
.search-form .form-group{
  height:30px;
}
.search-form .form-group span.form-control-feedback{
  top:-5px;
}
h6{
  color: white;
  font-family: 'Calibri';
  border: 1px solid white;
  padding: 2px 3px 2px 1px;
  margin-bottom: 1px;
  margin-left:4px;
  margin-right: 5px;
}

.borderless td {
  border: none !important;
  padding: 0px !important;
  text-align:left !important;
}
.borderless th {
  padding: 0px !important;
  text-align: left !important;
  font-weight: bold !important;
}
.borderless thead{
  border-bottom:1px solid black !important;
  color: blue;
}
