<app-header></app-header>
<div class="container-fluid">
  <div>
    <div class="col-xs-12">
      <ul class="list-inline" id="nav">
        <li  (click)="loadFilteredData('All')"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic'">All</span></a></li>|
        <li class="list-inline active" (click)="loadFilteredData('Active')"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic">Active</span></a></li>|
        <li (click)="loadFilteredData('InActive')"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic">Terminated</span></a></li>|
        <li (click)="loadFilteredData('SubCont')"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic">Sub-Cont</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-12">
    <p-dataTable #dt1 [value]="filteredEmployes"
                 (click)="onEmployeeRowSelect($event)" [globalFilter]="gb" exportFilename="AllEmployees" reorderableColumns="true"
                 scrollable="true" scrollHeight="218px" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
      <header style="background: #3399ff !important;">
        <div class="ui-helper-clearfix">
          <div style="float: left">
            <h6><strong>&nbsp;&nbsp;{{tableHeader}} </strong></h6>
          </div>
          <div>
            <div *ngIf="showAddSave">
              <span style="border:1px solid white;background-color: white;color: black;float: left;margin-left:3px;margin-top: 10px;margin-right:4px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%">Add</span>
              <span style="border:1px solid white;background-color: white;color: black;float: left;margin-left:4px;margin-top: 10px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%">Save</span>
            </div>
            <span style="border:1px solid white;background-color: white;color: black;float: right;margin-top: 10px;margin-right:3px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%;cursor:pointer;" (click)="dt1.exportCSV()">Export</span>
            <div class="col-md-3 col-md-offset-3" style=" float: right">
              <form class="search-form">
                <div class="form-group has-feedback">
                  <input #gb type="text" class="form-control" name="search"
                         style="float:right;font-size: 10pt;font-family: Calibri;" placeholder="Search by Name or Keywords"/>
                  <span style="padding-top: 3px;" class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <p-column field="empId" header="emp  Id" [hidden]="true" [sortable]="true"></p-column>
      <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
      <p-column field="midName" header="Middle Name" [sortable]="true"></p-column>
      <p-column field="lastName" header="Last Name" [sortable]="true">
        <template let-col let-filteredEmploye="rowData" pTemplate type="body">
          <a (click)="onClickLastName(filteredEmploye)"><span style="color:darkviolet !important;border-bottom: 1px solid black;">{{filteredEmploye[col.field]}}</span></a>
        </template>
      </p-column>
      <p-column field="birthDate" header="Birth Date" [sortable]="true"></p-column>
      <p-column field="ssn" header="SSN" [sortable]="true"></p-column>
      <p-column field="hireDate" header="Hire Date" [sortable]="true"></p-column>
      <!-- <p-column field="subCont" header="Sub Cont" [hidden]="true" [sortable]="true"></p-column>-->
      <p-column *ngIf="showTerminateDt" field="termDate" header="Term Date" [sortable]="true"></p-column>
    </p-dataTable>
  </div>
</div>

<br>

<div class="container-fluid">
  <div>
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {{fullEmpDtls.empFirstName +" " + fullEmpDtls.empLastName}}
        </div>
        <div class="panel-body" >
          <div class="container-fluid">
            <div  class="col-xs-3" style="border-right: 1px solid #ccc;">
              <table class="table borderless">
                <thead>More Info</thead>
                <tbody>
                <tr class="hide">
                  <td>Emp Id</td>
                  <td>
                    {{fullEmpDtls.empId}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Designation:</td>
                  <td>{{fullEmpDtls.lcaDesg !=null ?  fullEmpDtls.lcaDesg : fullEmpDtls.empDesg}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Department:</td>
                  <td>{{fullEmpDtls.empDeptName}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Work Authorization:</td>
                  <td></td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Primary Skill:</td>
                  <td>{{fullEmpDtls.primarySkill}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Billable:</td>
                  <td><input type="checkbox" readonly [checked]="fullEmpDtls.billable==='YES'"/> Yes
                  <td><input type="checkbox" readonly  [checked]="fullEmpDtls.billable==='NO'"/>No
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-3" style="border-right: 1px solid #ccc;">
              <table class="table borderless">
                <thead>Work Address</thead>
                <tbody>
                <tr>
                  <td style="font-weight: bold;">Address Line1:</td>
                  <td>{{fullEmpDtls.wAddrL1}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Address Line2:</td>
                  <td>{{fullEmpDtls.wAddrL2}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">City:</td>
                  <td>{{fullEmpDtls.wCity}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">State:</td>
                  <td>{{fullEmpDtls.wState}}</td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Zipcode:</td>
                  <td>{{fullEmpDtls.wZipCode}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-3" style="border-right: 1px solid #ccc;">
              <table class="table borderless">
                <thead>Home Address</thead>
                <tr>
                  <td style="font-weight: bold;">Address Line1:</td>
                  <td>
                    {{fullEmpDtls.hEmpAddrL1}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Address Line2:</td>
                  <td>
                    {{fullEmpDtls.hEmpAddrL2}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">City:</td>
                  <td>
                    {{fullEmpDtls.hEmpCity}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">State:</td>
                  <td>
                    {{fullEmpDtls.hEmpState}}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">ZipCode:</td>
                  <td>
                    {{fullEmpDtls.hEmpzipCd}}
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-xs-3">
              <table class="table borderless">
                <thead>Contact Details</thead>
                <tr>
                  <td style="font-weight: bold;">Phone No:</td>
                  <td>
                    {{fullEmpDtls.empMobilePh}}
                  </td>
                <tr>
                  <td style="font-weight: bold;">Email:</td>
                  <td>
                    {{fullEmpDtls.empWorkEmail }}
                  </td>
                </tr>
                <tr>
                  <td style="font-weight: bold;">Emergency Contact:</td>
                  <td>
                    {{fullEmpDtls.empWorkPh}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


