/*------------->>>>> search button<<<-------*/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}
/*.icon-addon.addon-md .glyphicon,*/
/*.icon-addon .glyphicon,*/
/*.icon-addon.addon-md .fa,*/
/*.icon-addon .fa {*/
  /*!*float: right;*!*/
  /*position: absolute;*/
  /*z-index: 10;*/
  /*right: 10px;*/
  /*font-size: 14px;*/
  /*width: 10px;*/
  /*margin-left: -2.5px;*/
  /*text-align: right;*/
  /*padding: 9px 30px;*/
  /*top: 1px;*/

 /*}*/

.borderless td {
  border: none !important;
  padding: 0px !important;
  text-align:left !important;
}
.borderless th {
  padding: 0px !important;
  text-align: left !important;
  font-weight: bold !important;
}
.borderless thead{
  border-bottom:1px solid black !important;
  color: blue;
}
.form-group{
  margin-top: 1px;
  margin-bottom: 2px;
}
.search-form .form-group{
  height:30px;
}
.search-form .form-group span.form-control-feedback{
  top:-5px;
}
li{
  cursor:pointer;
}
li.active {
  font-weight: bold;
 /*background-color: white;*/
}

 #nav li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  color:black;
  font-weight: bold;
   border-bottom: 2px solid blue;
}
h6{
  color: white;
  font-family: 'Calibri';
  border: 1px solid white;
  padding: 2px 3px 2px 1px;
  margin-bottom: 1px;
  margin-left:4px;
  margin-right: 5px;
}
