<app-header></app-header>
<div class="container-fluid">
  <div>
    <div class="col-xs-12">
      <ul class="list-inline" id="nav">
        <li  (click)="loadEmployees('All')"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic'">All</span></a></li>|
        <li  (click)="loadEmployees('Active')" class="list-inline active" ><a><span style="color: black;font-size:12px;font-family: 'Century Gothic">Active</span></a></li>|
        <li  (click)="loadEmployees('InActive')"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic">Terminated</span></a></li>|
        <li  (click)="onAllSubContClicked()"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic">Sub-Cont</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div *ngIf="allEmployee">
    <div class="col-xs-12">
      <p-dataTable #dt1 [value]="allEmployees" selectionMode="single"
                   [(selection)]="selectedEmployee" (onRowSelect)="onRowSelectAllEmployees($event)" [globalFilter]="gb" exportFilename="AllEmployees" reorderableColumns="true"
                   scrollable="true" scrollHeight="218px" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <!--<p-column styleClass="col-button">
          <template pTemplate type="header"></template>
          <template let-allEmployee="rowData" pTemplate type="body">
            <span (click)="onClickViewAll($event,allEmployee)" style="cursor: pointer;"><i class="fa fa-angle-double-right"
                                                                                 style="font-size: 16px;"
                                                                                 aria-hidden="true"></i></span>
          </template>
        </p-column>-->
        <!-- <header>
           <div class="ui-helper-clearfix">
             <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export Data" (click)="dt1.exportCSV()" style="float:left"></button>
           </div>
         </header>-->
        <header style="background: #3399ff !important;">
          <div class="ui-helper-clearfix">
            <div style="float: left">
              <h6><strong>&nbsp;&nbsp;All Employees</strong></h6>
            </div>
            <div>
              <span style="border:1px solid white;background-color: white;color: black;float: right;margin-top: 10px;margin-right:3px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%;cursor:pointer;" (click)="dt1.exportCSV()">Export</span>
              <div class="col-md-3 col-md-offset-3" style=" float: right">
                <form class="search-form">
                  <div class="form-group has-feedback">
                    <input #gb type="text" class="form-control" name="search"
                           style="float:right;font-size: 10pt;font-family: Calibri;" placeholder="Search by Name or Keywords"/>
                    <span style="padding-top: 3px;" class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </header>
        <p-column field="empId" header="emp  Id" [hidden]="true" [sortable]="true"></p-column>
        <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
        <p-column field="midName" header="Middle Name" [sortable]="true"></p-column>
        <p-column field="lastName" header="Last Name" [sortable]="true">
          <template let-col let-allEmployee="rowData" pTemplate type="body">
            <a (click)="onClickLastName()"><span style="color:darkviolet !important;border-bottom: 1px solid black;">{{allEmployee[col.field]}}</span></a>
          </template>
        </p-column>
        <p-column field="birthDate" header="Birth Date" [sortable]="true"></p-column>
        <p-column field="ssn" header="SSN" [sortable]="true"></p-column>
        <p-column field="hireDate" header="Hire Date" [sortable]="true"></p-column>
        <p-column field="termDate" header="Term Date" [sortable]="true"></p-column>
      </p-dataTable>
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div *ngIf="allActive" >
    <div class="col-xs-12">
      <p-dataTable #dt2 [value]="allActiveEmployees" selectionMode="single" [(selection)]="selectedEmployee" (onRowSelect)="onRowSelectActiveEmployees($event)"
                   [globalFilter]="gb" exportFilename="ActiveEmployees" reorderableColumns="true"
                   scrollable="true" scrollHeight="218px" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">

        <!--<p-column styleClass="col-button">
          <template pTemplate type="header"></template>
          <template let-allActiveEmployee="rowData" pTemplate type="body">
            <span (click)="onClickViewActive($event, allActiveEmployee)" style="cursor: pointer;"><i id="foo1" class="fa fa-angle-double-right"
                                                                                                        style="font-size: 16px;"
                                                                                                        aria-hidden="true"></i></span>
          </template>
        </p-column>-->
        <header style="background: #3399ff !important;">
          <div class="ui-helper-clearfix">
            <div style="float: left">
              <h6><strong>&nbsp;&nbsp;Active Employees</strong></h6>
            </div>
            <span style="border:1px solid white;background-color: white;color: black;float: left;margin-left:3px;margin-top: 10px;margin-right:4px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%">Add</span>
            <span style="border:1px solid white;background-color: white;color: black;float: left;margin-left:4px;margin-top: 10px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%">Save</span>
            <span style="cursor:pointer;border:1px solid white;background-color: white;color: black;float: right;margin-right:3px;margin-top: 10px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%" (click)="dt2.exportCSV()">Export</span>
            <div class="col-md-3 col-md-offset-3" style=" float: right">
              <form class="search-form">
                <div class="form-group has-feedback">
                  <input #gb type="text" class="form-control" name="search"
                         style="float:right;font-size: 10pt;font-family: Calibri;" placeholder="Search by Name or Keywords"/>
                  <span style="padding-top: 3px;" class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form>
            </div>
          </div>
        </header>
        <p-column field="empId" header="emp  Id" [hidden]="true" [sortable]="true"></p-column>
        <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
        <p-column field="midName" header="Middle Name" [sortable]="true"></p-column>
        <p-column field="lastName" header="Last Name" [sortable]="true">
          <template let-col let-allActiveEmployees="rowData" pTemplate type="body">
            <a (click)="onClickLastName()"><span style="color:darkviolet !important;border-bottom: 1px solid black;">{{allActiveEmployees[col.field]}}</span></a>
          </template>
        </p-column>
        <p-column field="birthDate" header="Birth Date" [sortable]="true"></p-column>
        <p-column field="ssn" header="SSN" [sortable]="true"></p-column>
        <p-column field="hireDate" header="Hire Date" [sortable]="true"></p-column>
        <p-column field="termDate" header="Term Date" [hidden]="true" filterMatchMode="contains"
                  [sortable]="true"></p-column>
      </p-dataTable>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div *ngIf="allInActive">
    <div class="col-xs-12">
      <p-dataTable #dt3 [value]="allInactiveEmployees" selectionMode="single" [(selection)]="selectedEmployee" (onRowSelect)="onRowSelectInActiveEmployees($event)"
                   [globalFilter]="gb" exportFilename="InActiveEmployees" reorderableColumns="true"
                   scrollable="true" scrollHeight="218px">
        <!-- <p-column field="view" >
           <template let-allInactiveEmployee="rowData" pTemplate type="body">
             <span (click)="onClickViewInActive($event,allInactiveEmployee)" style="cursor: pointer;"><i class="fa fa-angle-double-right"
                                                                                          style="font-size: 16px;"
                                                                                          aria-hidden="true"></i></span>
           </template>
         </p-column>-->
        <!-- <header>
           <div class="ui-helper-clearfix">
             <button type="button" pButton icon="fa-file-o" iconPos="left" label="Export Data" (click)="dt3.exportCSV()" style="float:left"></button>
           </div>
         </header>-->
        <header style="background: #3399ff !important;">
          <div class="ui-helper-clearfix">
            <div style="float: left">
              <h6><strong>&nbsp;&nbsp;Terminated Employees</strong></h6>
            </div>
            <span style="cursor:pointer;border:1px solid white;background-color: white;color: black;float: right;margin-left:4px;margin-right:3px;margin-top: 10px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%" (click)="dt3.exportCSV()">Export</span>
            <div class="col-md-3 col-md-offset-3" style=" float: right">
              <form class="search-form">
                <div class="form-group has-feedback">
                  <input #gb type="text" class="form-control" name="search"
                         style="float:right;font-size: 10pt;font-family: Calibri;" placeholder="Search by Name or Keywords"/>
                  <span style="padding-top: 3px;" class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form>
            </div>
          </div>
        </header>
        <p-column field="empId" header="emp  Id" [hidden]="true" [sortable]="true"></p-column>
        <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
        <p-column field="midName" header="Middle Name" [sortable]="true"></p-column>
        <p-column field="lastName" header="Last Name" [sortable]="true">
          <template let-col let-allInactiveEmployees="rowData" pTemplate type="body">
            <a (click)="onClickLastName()"><span style="color:darkviolet !important;border-bottom: 1px solid black;">{{allInactiveEmployees[col.field]}}</span></a>
          </template>
        </p-column>
        <p-column field="birthDate" header="Birth Date" [sortable]="true"></p-column>
        <p-column field="ssn" header="SSN" [sortable]="true"></p-column>
        <p-column field="hireDate" header="Hire Date" [sortable]="true"></p-column>
        <p-column field="termDate" header="Term Date" [sortable]="true"></p-column>
      </p-dataTable>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div *ngIf="viewInActiveEmployee">
    <div>
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{viewEmployeeDetails.empName}}
          </div>
          <div class="panel-body" >
            <div class="container-fluid">
              <div  class="col-xs-3" style="border-right: 1px solid #ccc;">
                <table class="table borderless">
                  <thead>More Info</thead>
                  <tbody>
                  <tr class="hide">
                    <td>Emp Id</td>
                    <td>
                      {{viewEmployeeAddressDetails.empId}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Designation:</td>
                    <td>{{viewEmployeeMoreInfo.empDesg}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Department:</td>
                    <td>{{viewEmployeeMoreInfo.deptName}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Work Authorization:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Primary Skill:</td>
                    <td>{{viewEmployeeMoreInfo.primarySkill}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Billable:</td>
                    <td><input type="checkbox" [checked]="viewEmployeeMoreInfo.billable"/>
                    <!--<span>{{viewEmployeeMoreInfo.billable}}</span></td>-->
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-xs-3" style="border-right: 1px solid #ccc;">
                <table class="table borderless">
                  <thead>Work Address</thead>
                  <tbody>
                  <tr>
                    <td style="font-weight: bold;">Address Line1:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliAddrLine1}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Address Line2:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliAddrLine2}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">City:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliCity}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">State:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliState}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Zipcode:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliZipCode}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-xs-3" style="border-right: 1px solid #ccc;">
                <table class="table borderless">
                  <thead>Home Address</thead>
                  <tr>
                    <td style="font-weight: bold;">Address Line1:</td>
                    <td>
                      {{viewEmployeeAddressDetails.addrLine1}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Address Line2:</td>
                    <td>
                      {{viewEmployeeAddressDetails.addrLine2}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">City:</td>
                    <td>
                      {{viewEmployeeAddressDetails.city}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">State:</td>
                    <td>
                      {{viewEmployeeAddressDetails.state}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">ZipCode:</td>
                    <td>
                      {{viewEmployeeAddressDetails.zipCd}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-3">
                <table class="table borderless">
                  <thead>Contact Details</thead>
                  <tr>
                    <td style="font-weight: bold;">Phone No:</td>
                    <td>
                      {{viewEmployeeContactDetails.mobilePhone}}
                    </td>
                  <tr>
                    <td style="font-weight: bold;">Email:</td>
                    <td>
                      {{viewEmployeeContactDetails.homeEmail }}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Emergency Contact:</td>
                    <td>
                      {{viewEmployeeContactDetails.homePhone}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div *ngIf="viewAllEmployee">
    <div>
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            {{viewEmployeeDetails.empName}}
          </div>
          <div class="panel-body" >
            <div class="container-fluid">
              <div  class="col-xs-3" style="border-right: 1px solid #ccc;">
                <table class="table borderless">
                  <thead>More Info</thead>
                  <tbody>
                  <tr class="hide">
                    <td>Emp Id</td>
                    <td>
                      {{viewEmployeeAddressDetails.empId}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Designation:</td>
                    <td>{{viewEmployeeMoreInfo.empDesg}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Department:</td>
                    <td>{{viewEmployeeMoreInfo.deptName}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Work Authorization:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Primary Skill:</td>
                    <td>{{viewEmployeeMoreInfo.primarySkill}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Billable:</td>
                    <td><input type="checkbox" id="billable" checked="checked"/></td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <div class="col-xs-3" style="border-right: 1px solid #ccc;">
                <table class="table borderless">
                  <thead>Work Address</thead>
                  <tbody>
                  <tr>
                    <td style="font-weight: bold;">Address Line1:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliAddrLine1}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Address Line2:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliAddrLine2}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">City:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliCity}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">State:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliState}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Zipcode:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliZipCode}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-xs-3" style="border-right: 1px solid #ccc;">
                <table class="table borderless">
                  <thead>Home Address</thead>
                  <tr>
                    <td style="font-weight: bold;">Address Line1:</td>
                    <td>
                      {{viewEmployeeAddressDetails.addrLine1}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Address Line2:</td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">City:</td>
                    <td>
                      {{viewEmployeeAddressDetails.city}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">State:</td>
                    <td>
                      {{viewEmployeeAddressDetails.state}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">ZipCode:</td>
                    <td>
                      {{viewEmployeeAddressDetails.zipCd}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-3">
                <table class="table borderless">
                  <thead>Contact Details</thead>
                  <tr>
                    <td style="font-weight: bold;">Phone No:</td>
                    <td>
                      {{viewEmployeeContactDetails.mobilePhone}}
                    </td>
                  <tr>
                    <td style="font-weight: bold;">Email:</td>
                    <td>
                      {{viewEmployeeContactDetails.homeEmail }}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Emergency Contact:</td>
                    <td>
                      {{viewEmployeeContactDetails.homePhone}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div *ngIf="viewActiveEmployee">
    <div>
      <div class="col-xs-12">
        <div class="panel panel-default" id="panelDetails">
          <div class="panel-heading">
            {{viewEmployeeDetails.empName}}
          </div>
          <div class="panel-body" >
            <div class="container-fluid">
              <div  class="col-xs-3" style="border-right: 1px solid #ccc;">
                <table class="table borderless">
                  <thead>More Info</thead>
                  <tbody>
                  <tr class="hide">
                    <td>Emp Id</td>
                    <td>
                      {{viewEmployeeAddressDetails.empId}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Designation:</td>
                    <td>{{viewEmployeeMoreInfo.empDesg}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Department:</td>
                    <td>{{viewEmployeeMoreInfo.deptName}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Work Authorization:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Primary Skill:</td>
                    <td>{{viewEmployeeMoreInfo.primarySkill}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Billable:</td>
                    <td><input type="checkbox" checked="checked" />
                    <span> {{viewEmployeeMoreInfo.billable}}</span></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-xs-3" style="border-right: 1px solid #ccc;">
                <table class="table borderless">
                  <thead>Work Address</thead>
                  <tbody>
                  <tr>
                    <td style="font-weight: bold;">Address Line1:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliAddrLine1}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Address Line2:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliAddrLine2}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">City:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliCity}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">State:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliState}}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Zipcode:</td>
                    <td>{{viewEmployeeWorkAddressDetails.cliZipCode}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-xs-3" style="border-right: 1px solid #ccc;">
                <table class="table borderless">
                  <thead>Home Address</thead>
                  <tr>
                    <td style="font-weight: bold;">Address Line1:</td>
                    <td>
                      {{viewEmployeeAddressDetails.addrLine1}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Address Line2:</td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">City:</td>
                    <td>
                      {{viewEmployeeAddressDetails.city}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">State:</td>
                    <td>
                      {{viewEmployeeAddressDetails.state}}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">ZipCode:</td>
                    <td>
                      {{viewEmployeeAddressDetails.zipCd}}
                    </td>
                  </tr>
                </table>
              </div>
              <div class="col-xs-3">
                <table class="table borderless">
                  <thead>Contact Details</thead>
                  <tr>
                    <td style="font-weight: bold;">Phone No:</td>
                    <td>
                      {{viewEmployeeContactDetails.mobilePhone}}
                    </td>
                  <tr>
                    <td style="font-weight: bold;">Email:</td>
                    <td>
                      {{viewEmployeeContactDetails.homeEmail }}
                    </td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Emergency Contact:</td>
                    <td>
                      {{viewEmployeeContactDetails.homePhone}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="EachEmployeeEditableDetailsTabs">
    <ul class="list-inline">
      <li class="list-inline active" ><a>Education</a></li>|
      <li ><a>Contact</a></li>|
      <li><a>Address</a></li>|
      <li><a>Vendor</a></li>|
      <li ><a>Projects</a></li>|
      <li><a>Pay rate</a></li>|
      <li><a>Passport</a></li>|
      <li ><a>Work Authorization</a></li>|
      <li><a>Benefits</a></li>
    </ul>
  </div>
</div>
