<app-header></app-header>
<div class="container-fluid">
  <div>
    <div class="col-xs-12">
      <ul class="list-inline" id="nav">
        <li  (click)="loadFilteredData('All')"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic'">All</span></a></li>|
        <li class="list-inline active" (click)="loadFilteredData('Active')"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic">Active</span></a></li>|
        <li (click)="loadFilteredData('InActive')"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic">Terminated</span></a></li>|
        <li (click)="loadFilteredData('SubCont')"><a><span style="color: black;font-size:12px;font-family: 'Century Gothic">Sub-Cont</span></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="col-xs-12">
    <p-dataTable #dt1 [value]="filteredEmployes" reorderableColumns="true" selectionMode = "single" [(selection)] = "selectedEmployee"
                 (onRowSelect)="onEmployeeRowSelect(selectedEmployee.empId)" [globalFilter]="gb" exportFilename="AllEmployees"
                 [rows]="10" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [paginator]="true" >
      <header style="background: #3399ff !important;">
        <div class="ui-helper-clearfix">
          <div style="float: left">
            <h6><strong>&nbsp;&nbsp;{{tableHeader}} </strong></h6>
          </div>
          <div>
            <div *ngIf="showAddSave">
              <span style="border:1px solid white;background-color: white;color: black;float: left;margin-left:3px;margin-top: 10px;margin-right:4px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%">Add</span>
              <span style="border:1px solid white;background-color: white;color: black;float: left;margin-left:4px;margin-top: 10px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%">Save</span>
            </div>
            <span style="border:1px solid white;background-color: white;color: black;float: right;margin-top: 10px;margin-right:3px;padding: -2px 10px; font-family: 'Calibri';font-size: 12px;width:4%;cursor:pointer;" (click)="dt1.exportCSV()">Export</span>
            <div class="col-md-3 col-md-offset-3" style=" float: right">
              <form class="search-form">
                <div class="form-group has-feedback">
                  <input #gb type="text" class="form-control" name="search"
                         style="float:right;font-size: 10pt;font-family: Calibri;" placeholder="Search by Name or Keywords"/>
                  <span style="padding-top: 3px;" class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <p-column field="empId" header="emp  Id" [hidden]="true" [sortable]="true"></p-column>
      <p-column field="firstName" header="First Name" [sortable]="true"></p-column>
      <p-column field="midName" header="Middle Name" [sortable]="true"></p-column>
      <p-column field="lastName" header="Last Name" [sortable]="true">
        <template let-col  let-filteredEmploye="rowData" pTemplate type="body">
          <a (click)="onClickLastName(filteredEmploye)"><span style="color:darkviolet !important;border-bottom: 1px solid black;">{{filteredEmploye[col.field]}}</span></a>
        </template>
      </p-column>
      <p-column field="birthDate" header="Birth Date" [sortable]="true"></p-column>
      <p-column field="ssn" header="SSN" [sortable]="true"></p-column>
      <p-column field="hireDate" header="Hire Date" [sortable]="true"></p-column>
      <p-column *ngIf="showTerminateDt" field="termDate" header="Term Date" [sortable]="true"></p-column>
    </p-dataTable>
  </div>
</div>
<br>

<app-emp-detailed-view ></app-emp-detailed-view>


