<div class="container">
  <br><br>
  <div *ngIf="!mailsent">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <p>Email Sent successfully. please check your email </p>
        <div class="form-group">

          <button type="submit" class="btn btn-lg btn-primary btn-block" [routerLink]="['/'] ">Login</button>

        </div>
      </div>
    </div>
  </div>

</div>


<div class="container-fluid">

  <div class="row">
    <div class="row">
      <div *ngIf="mailsent">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="text-center">

                <h3><i class="fa fa-lock " aria-hidden="true"></i></h3>

                <h5 class="text-center">Forgot Password?</h5>
                <p>You can reset your password here.</p>
                <div *ngIf="!clicked">
                  <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                  <p>please wait.. we are sending Email</p>
                </div>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                  <fieldset>
                    <div formGroupName="forgotPasswordData">
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>

                          <input id="emailAddress" placeholder="email address" class="form-control" type="email"
                                 formControlName="emailAddress"
                                 oninvalid="setCustomValidity('Please enter a valid email address!')"
                                 onchange="try{setCustomValidity('')}catch(e){}" required="">
                        </div>
                      </div>
                      <div class="form-group">

                        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!forgotPasswordForm.valid">
                          Submit
                        </button>
                        <input class="btn btn-lg btn-primary btn-block" value="Back" type="submit" [routerLink]="['/']">

                      </div>
                    </div>
                  </fieldset>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
