<div class="container">

<div *ngIf="!resetpasswordClicked">
  <div class="center-div">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <p>please wait while we are redirecting to your profile page</p>
  </div>
</div>
</div>


<div class="container">
  <div *ngIf="resetpasswordClicked">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="center-div">
      <br><br><br>
      <div class="card-reveal">
        <h5>Reset your Password Here!</h5><br><br>
        <span class="card-title grey-text text-darken-2"></span>
        <div class="input-field">
          <input readonly id="emailAddress" type="text" class="validate" [(ngModel)]="resetPassword.emailAddress"
                 ngDefaultControl="resetPassword.emailAddress">
          <label for="emailAddress" class="active" >Email Address</label>
        </div>
        <div class="input-field">
          <input id="newPassword" type="password" class="validate" [(ngModel)]="resetPassword.newPassword"
                 ngDefaultControl="resetPassword.newPassword">
          <label for="newPassword">New Password</label>
        </div>
        <div class="input-field">
          <input id="confirmNewPassword" type="password" class="validate"
                 [(ngModel)]="resetPassword.confirmNewPassword"
                 ngDefaultControl="resetPassword.confirmNewPassword">
          <label for="confirmNewPassword">Confirm New Password</label>
        </div>
        <button class="waves-effect waves-light btn" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </div>
  </div>
</div>
